@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.App.aktif {
  overflow: hidden;
  margin-bottom: 0rem;
  height: 100vh;
}

.App {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
}

.App .nav.aktif {
  position: relative;
  background-color: rgba(37, 43, 70, 0.9);
}

.App .nav {
  position: relative;
  padding: 45px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .nav .ham {
  cursor: pointer;
  height: 100%;
  position: relative;
}

.App .nav .nav_aktif.aktif {
  opacity: 1;
  visibility: visible;
  background-color: rgba(37, 43, 70, 0.9);
}

.App .nav .nav_aktif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  padding-top: 3rem;
  position: absolute;
  left: 0;
  top: 4.38rem;
  text-align: center;
  width: 100%;
}

.App .nav .nav_aktif .isi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.App .nav .nav_aktif .isi a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.App .nav .nav_aktif .isi button {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: white;
  padding: 0.5rem 8rem;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 2rem;
}

.App .nav .nav_aktif .sosmed {
  margin-bottom: 6rem;
}

.App .nav .nav_aktif .sosmed .fb {
  margin-right: 1rem;
}

.App .hero {
  margin-top: 5rem;
}

.App .hero img {
  width: 100%;
}

.App .hero .hero_image .shape {
  z-index: -1;
  position: absolute;
  top: 220px;
  right: 0;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 500px 0 0 500px;
}

.App .hero .hero_konten {
  margin-top: 2rem;
}

.App .hero .hero_konten h1 {
  font-size: 30px;
  color: #252b46;
  text-align: center;
}

.App .hero .hero_konten p {
  font-size: 14px;
  line-height: 1.6;
  margin: 2rem 42px 0 42px;
  text-align: center;
  color: #9194a1;
}

.App .hero .hero_konten .button {
  margin-top: 2rem;
  text-align: center;
}

.App .hero .hero_konten .button .button1 {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: #5368df;
  margin-right: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .hero .hero_konten .button .button1:hover {
  background-color: #3751e4;
}

.App .hero .hero_konten .button .button2 {
  -webkit-box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
          box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
  cursor: pointer;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color: #252b46;
  background-color: #f7f7f7;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .hero .hero_konten .button .button2:hover {
  background-color: #dddcdc;
}

.App .features {
  position: relative;
  text-align: center;
  margin-top: 10rem;
}

.App .features h1 {
  font-size: 24px;
  color: #252b46;
  text-align: center;
}

.App .features h2 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  color: #252b46;
  text-align: center;
}

.App .features p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

.App .features .f1 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid #9194a1;
}

.App .features .f2 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid #9194a1;
}

.App .features .f3 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-top: 1px solid #9194a1;
  padding: 1rem;
  margin: 0 2rem;
}

.App .features .merah.aktif {
  opacity: 1;
  visibility: visible;
}

.App .features .merah {
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  height: 6px;
  margin: 0 7rem;
  background-color: #fa5757;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.App .features .konten.aktif {
  opacity: 1;
  visibility: visible;
}

.App .features .konten {
  position: absolute;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  visibility: hidden;
  padding-top: 5rem;
  border-top: 1px solid #9194a1;
  margin: 0 2rem;
}

.App .features .konten .shape {
  z-index: -1;
  position: absolute;
  top: 114px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

.App .features .konten .shape2 {
  z-index: -1;
  position: absolute;
  top: 180px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

.App .features .konten .shape3 {
  z-index: -1;
  position: absolute;
  top: 180px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

.App .features .konten h1 {
  margin-top: 4rem;
  font-size: 23px;
  color: #252b46;
  text-align: center;
}

.App .features .konten p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 12px 0 12px;
  text-align: center;
  color: #9194a1;
}

.App .features .konten img {
  width: 100%;
}

.App .download {
  margin-top: 40rem;
}

.App .download h1 {
  font-size: 22px;
  color: #252b46;
  text-align: center;
}

.App .download p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

.App .download .card {
  background-image: url("../images/bg-dots.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 16rem;
  padding: 2rem 0;
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
          box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
  text-align: center;
  margin: 0 46px 3rem 46px;
}

.App .download .card h2 {
  margin-top: 2rem;
  font-size: 20px;
}

.App .download .card p {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.App .download .card button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  background-color: #5368df;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .download .card button:hover {
  background-color: #3751e4;
}

.App .faq h1 {
  margin: 8rem 40px 0 40px;
  font-size: 22px;
  color: #252b46;
  text-align: center;
}

.App .faq p {
  font-size: 14px;
  line-height: 1.5;
  margin: 1rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

.App .faq .accordion {
  margin: 1rem 24px 3rem 24px;
}

.App .faq .accordion .isi-accord {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #9194a1;
}

.App .faq .accordion .isi-accord h3 {
  font-size: 16px;
  font-weight: 400;
}

.App .faq .accordion .isi-accord .isi-answer {
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.App .faq .accordion .isi-accord .isi-answer p {
  font-size: 14px;
  line-height: 2;
  padding-bottom: 1rem;
  margin: 0 0 0 0;
  text-align: left;
  color: #9194a1;
}

.App .faq .accordion .isi-accord button {
  font-family: "Rubik", sans-serif;
  background-color: white;
  border: none;
  width: 100%;
  padding: 1rem 0;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.App .faq .accordion .isi-accord button:hover {
  color: #fa5757;
}

.App .faq .accordion .isi-accord .judul {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .faq .accordion .isi-accord .judul svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.App .faq .accordion .isi-accord .judul .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.App .faq .accordion .isi-accord .judul .rotate path {
  stroke: #fa5757;
}

.App .faq .more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6rem;
}

.App .faq .more button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  color: white;
  border: none;
  background-color: #5368df;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .faq .more button:hover {
  background-color: #5266df;
}

.App .foot {
  background-color: #5368df;
  text-align: center;
  padding-top: 5rem;
}

.App .foot h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.App .foot p {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  color: white;
}

.App .foot form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem;
}

.App .foot form .input.aktif {
  background-color: #fa5757;
}

.App .foot form .input.aktif input {
  border: 3px solid #fa5757;
}

.App .foot form .input.aktif label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .foot form .input {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

.App .foot form .input input {
  font-size: 14px;
  padding: 1rem 1rem;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 8px;
}

.App .foot form .input label {
  display: none;
  padding: 0.25rem 0;
  font-family: "Rubik", sans-serif;
  color: white;
  margin-left: 1rem;
  font-size: 12px;
  letter-spacing: 0;
}

.App .foot form button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 0;
  color: white;
  border: none;
  background-color: #fa5757;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.App .foot form button:hover {
  background-color: #f83232;
}

.App .footer {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  background-color: #252b46;
}

.App .footer svg {
  margin-bottom: 3rem;
}

.App .footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.App .footer .fb {
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */