@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.App.aktif {
  overflow: hidden;
  margin-bottom: 0rem;
  height: 100vh;
}

.App {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
}

@media screen and (min-width: 900px) {
  .App {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.App .nav_dekstop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1182px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 100px 0 30px;
}

@media screen and (max-width: 900px) {
  .App .nav_dekstop {
    display: none;
  }
}

.App .nav_dekstop .logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 148px;
  text-align: center;
  height: 25px;
}

.App .nav_dekstop .isi_dekstop a {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Rubik", sans-serif;
  color: #252b46;
  text-decoration: none;
  cursor: pointer;
  margin-right: 2rem;
}

.App .nav_dekstop .isi_dekstop button {
  border: 0;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color: white;
  padding: 1rem 2rem;
  background-color: #fa5757;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.App .nav.aktif {
  position: relative;
  background-color: rgba(37, 43, 70, 0.9);
}

.App .nav {
  position: relative;
  padding: 45px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .App .nav {
    display: none;
  }
}

.App .nav .ham {
  cursor: pointer;
  height: 100%;
  position: relative;
}

.App .nav .nav_aktif.aktif {
  opacity: 1;
  visibility: visible;
  background-color: rgba(37, 43, 70, 0.9);
}

.App .nav .nav_aktif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  padding-top: 3rem;
  position: absolute;
  left: 0;
  top: 4.38rem;
  text-align: center;
  width: 100%;
}

.App .nav .nav_aktif .isi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
}

.App .nav .nav_aktif .isi a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

.App .nav .nav_aktif .isi button {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  color: white;
  padding: 0.5rem 8rem;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid white;
  border-radius: 8px;
  margin: 0 2rem;
}

.App .nav .nav_aktif .sosmed {
  margin-bottom: 6rem;
}

.App .nav .nav_aktif .sosmed .fb {
  margin-right: 1rem;
}

.App .hero {
  margin-top: 5rem;
}

@media screen and (min-width: 900px) {
  .App .hero {
    position: relative;
  }
}

.App .hero img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .App .hero {
    width: 1182px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    display: -ms-grid;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
  }
}

.App .hero .shape {
  z-index: -1;
  position: absolute;
  top: 220px;
  right: 0;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 500px 0 0 500px;
}

@media screen and (min-width: 900px) {
  .App .hero .shape {
    top: 110px;
    width: 530px;
    height: 352px;
    right: -8rem;
  }
}

@media screen and (min-width: 1445px) {
  .App .hero .shape {
    border-radius: 500px;
  }
}

@media screen and (min-width: 900px) {
  .App .hero .hero_image {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.App .hero .hero_konten {
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  .App .hero .hero_konten {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.App .hero .hero_konten h1 {
  color: #252b46;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .hero .hero_konten h1 {
    font-size: 48px;
    text-align: left;
  }
}

.App .hero .hero_konten p {
  font-size: 14px;
  line-height: 1.6;
  margin: 2rem 42px 0 42px;
  text-align: center;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .hero .hero_konten p {
    font-size: 18px;
    text-align: left;
    margin: 2rem 42px 0 0;
  }
}

.App .hero .hero_konten .button {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .hero .hero_konten .button {
    text-align: left;
  }
}

.App .hero .hero_konten .button .button1 {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: #5368df;
  margin-right: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .hero .hero_konten .button .button1:hover {
  background-color: #3751e4;
}

.App .hero .hero_konten .button .button2 {
  -webkit-box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
          box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
  cursor: pointer;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color: #252b46;
  background-color: #f7f7f7;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 6px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .hero .hero_konten .button .button2:hover {
  background-color: #dddcdc;
}

.App .features {
  position: relative;
  text-align: center;
  margin-top: 10rem;
}

.App .features h1 {
  font-size: 24px;
  color: #252b46;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .features h1 {
    font-size: 30px;
  }
}

.App .features h2 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  color: #252b46;
  text-align: center;
}

.App .features .penjelasan p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .features .penjelasan p {
    font-size: 18px;
    width: 544px;
    margin: 2rem auto 3rem auto;
  }
}

@media screen and (min-width: 900px) {
  .App .features .tab_fitur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.App .features .tab_fitur .f1 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid #9194a1;
}

@media screen and (min-width: 900px) {
  .App .features .tab_fitur .f1 {
    border-top: none;
  }
}

.App .features .tab_fitur .f2 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 1rem;
  margin: 0 2rem;
  border-top: 1px solid #9194a1;
}

@media screen and (min-width: 900px) {
  .App .features .tab_fitur .f2 {
    border-top: none;
  }
}

.App .features .tab_fitur .f3 {
  font-size: 16px;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-top: 1px solid #9194a1;
  padding: 1rem;
  margin: 0 2rem;
}

@media screen and (min-width: 900px) {
  .App .features .tab_fitur .f3 {
    border-top: none;
  }
}

.App .features .tab_fitur .merah.aktif {
  opacity: 1;
  visibility: visible;
}

.App .features .tab_fitur .merah {
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  height: 6px;
  margin: 0 7rem;
  background-color: #fa5757;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

@media screen and (min-width: 900px) {
  .App .features .tab_fitur .merah {
    width: 100%;
    margin: 0;
  }
}

.App .features .konten.aktif {
  opacity: 1;
  visibility: visible;
}

.App .features .konten {
  position: absolute;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  visibility: hidden;
  padding-top: 5rem;
  border-top: 1px solid #9194a1;
  margin: 0 2rem;
}

@media screen and (min-width: 900px) {
  .App .features .konten {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    left: 50%;
  }
}

.App .features .konten .isi_konten .more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

@media screen and (min-width: 900px) {
  .App .features .konten .isi_konten .more {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.App .features .konten .isi_konten .more button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  color: white;
  border: none;
  background-color: #5368df;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .features .konten .isi_konten .more button:hover {
  background-color: #5266df;
}

@media screen and (min-width: 900px) {
  .App .features .konten .isi_konten {
    width: 1182px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .App .features .konten .isi_konten .isi_kontenF {
    margin-left: 7rem;
  }
}

.App .features .konten .shape {
  z-index: -1;
  position: absolute;
  top: 114px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

@media screen and (min-width: 900px) {
  .App .features .konten .shape {
    height: 350px;
    width: 650px;
    top: 200px;
    left: -9rem;
  }
}

@media screen and (min-width: 1445px) {
  .App .features .konten .shape {
    border-radius: 500px;
  }
}

.App .features .konten .shape2 {
  z-index: -1;
  position: absolute;
  top: 180px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

@media screen and (min-width: 900px) {
  .App .features .konten .shape2 {
    height: 350px;
    width: 650px;
    top: 280px;
    left: -9rem;
  }
}

@media screen and (min-width: 1445px) {
  .App .features .konten .shape2 {
    border-radius: 500px;
  }
}

.App .features .konten .shape3 {
  z-index: -1;
  position: absolute;
  top: 180px;
  left: -2rem;
  width: 310px;
  height: 200px;
  background-color: #5368df;
  border-radius: 0 500px 500px 0;
}

@media screen and (min-width: 900px) {
  .App .features .konten .shape3 {
    height: 350px;
    width: 650px;
    top: 280px;
    left: -9rem;
  }
}

@media screen and (min-width: 1445px) {
  .App .features .konten .shape3 {
    border-radius: 500px;
  }
}

.App .features .konten h1 {
  margin-top: 4rem;
  font-size: 23px;
  color: #252b46;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .features .konten h1 {
    text-align: left;
    font-size: 30px;
  }
}

.App .features .konten p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 12px 0 12px;
  text-align: center;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .features .konten p {
    text-align: left;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    font-size: 18px;
  }
}

.App .features .konten img {
  width: 100%;
}

.App .download {
  margin-top: 40rem;
}

.App .download h1 {
  font-size: 22px;
  color: #252b46;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .download h1 {
    font-size: 32px;
  }
}

.App .download p {
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .download p {
    width: 544px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .App .download .card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 911px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .App .download .card-container .card .percard.dua {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .App .download .card-container .card .percard.tiga {
    margin-top: 6rem;
  }
}

.App .download .card-container .card .percard {
  background-image: url("../images/bg-dots.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 16rem;
  padding: 2rem 0;
  border-radius: 16px;
  -webkit-box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
          box-shadow: 0px 10px 10px rgba(145, 148, 161, 0.3);
  text-align: center;
  margin: 0 46px 3rem 46px;
}

@media screen and (min-width: 900px) {
  .App .download .card-container .card .percard {
    width: 280px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App .download .card-container .card .percard h2 {
  margin-top: 2rem;
  font-size: 20px;
}

.App .download .card-container .card .percard p {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 900px) {
  .App .download .card-container .card .percard p {
    width: 100%;
  }
}

.App .download .card-container .card .percard button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  background-color: #5368df;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .download .card-container .card .percard button:hover {
  background-color: #3751e4;
}

.App .faq .isi_faq h1 {
  margin: 8rem 40px 0 40px;
  font-size: 22px;
  color: #252b46;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .App .faq .isi_faq h1 {
    font-size: 32px;
  }
}

.App .faq .isi_faq p {
  font-size: 14px;
  line-height: 1.5;
  margin: 1rem 40px 3rem 40px;
  text-align: center;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .faq .isi_faq p {
    font-size: 18px;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App .faq .accordion_container .accordion {
  margin: 1rem 24px 3rem 24px;
}

@media screen and (min-width: 900px) {
  .App .faq .accordion_container .accordion {
    width: 542px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App .faq .accordion_container .accordion .isi-accord {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #9194a1;
}

.App .faq .accordion_container .accordion .isi-accord h3 {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 900px) {
  .App .faq .accordion_container .accordion .isi-accord h3 {
    font-size: 18px;
  }
}

.App .faq .accordion_container .accordion .isi-accord .isi-answer {
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

.App .faq .accordion_container .accordion .isi-accord .isi-answer p {
  font-size: 14px;
  line-height: 2;
  padding-bottom: 1rem;
  margin: 0 0 0 0;
  text-align: left;
  color: #9194a1;
}

@media screen and (min-width: 900px) {
  .App .faq .accordion_container .accordion .isi-accord .isi-answer p {
    font-size: 16px;
  }
}

.App .faq .accordion_container .accordion .isi-accord button {
  font-family: "Rubik", sans-serif;
  background-color: white;
  border: none;
  width: 100%;
  padding: 1rem 0;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

.App .faq .accordion_container .accordion .isi-accord button:hover {
  color: #fa5757;
}

.App .faq .accordion_container .accordion .isi-accord .judul {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .faq .accordion_container .accordion .isi-accord .judul svg {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 900px) {
  .App .faq .accordion_container .accordion .isi-accord .judul svg {
    margin-right: 2rem;
  }
}

.App .faq .accordion_container .accordion .isi-accord .judul .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.App .faq .accordion_container .accordion .isi-accord .judul .rotate path {
  stroke: #fa5757;
}

.App .faq .more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6rem;
}

.App .faq .more button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  color: white;
  border: none;
  background-color: #5368df;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
}

.App .faq .more button:hover {
  background-color: #5266df;
}

.App .foot_container {
  background-color: #5368df;
}

.App .foot_container .foot {
  text-align: center;
  padding-top: 5rem;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot {
    width: 444px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App .foot_container .foot h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot h1 {
    font-size: 32px;
  }
}

.App .foot_container .foot p {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  color: white;
}

.App .foot_container .foot form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2rem;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 5rem 0;
  }
}

.App .foot_container .foot form .input.aktif {
  background-color: #fa5757;
}

.App .foot_container .foot form .input.aktif input {
  border: 3px solid #fa5757;
}

.App .foot_container .foot form .input.aktif label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .foot_container .foot form .input {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot form .input {
    width: 296px;
    margin-right: 2rem;
  }
}

.App .foot_container .foot form .input input {
  font-size: 14px;
  padding: 1rem 1rem;
  border: none;
  font-family: "Rubik", sans-serif;
  border-radius: 8px;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot form .input input {
    height: 44px;
  }
}

.App .foot_container .foot form .input label {
  display: none;
  padding: 0.25rem 0;
  font-family: "Rubik", sans-serif;
  color: white;
  margin-left: 1rem;
  font-size: 12px;
  letter-spacing: 0;
}

.App .foot_container .foot form button {
  -webkit-box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
          box-shadow: 0px 10px 10px rgba(83, 104, 223, 0.3);
  cursor: pointer;
  border-radius: 8px;
  padding: 1rem 0;
  color: white;
  border: none;
  background-color: #fa5757;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  -webkit-transition: 0.5s background-color ease;
  transition: 0.5s background-color ease;
  border: 2px solid #fa5757;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .App .foot_container .foot form button {
    margin: 0;
    width: 128px;
    height: 44px;
    padding: 0;
  }
}

.App .foot_container .foot form button:hover {
  background-color: white;
  color: #fa5757;
  border: 2px solid #fa5757;
}

.App .footer_container {
  background-color: #252b46;
}

.App .footer_container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 900px) {
  .App .footer_container .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 1182px;
    margin: auto;
  }
}

.App .footer_container .footer .isi_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 900px) {
  .App .footer_container .footer .isi_footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.App .footer_container .footer .isi_footer svg {
  margin-bottom: 3rem;
}

@media screen and (min-width: 900px) {
  .App .footer_container .footer .isi_footer svg {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.App .footer_container .footer .isi_footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
  .App .footer_container .footer .isi_footer a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4rem;
  }
}

.App .footer_container .footer .fb {
  margin-right: 1rem;
}

@media screen and (min-width: 900px) {
  .App .footer_container .footer .fb {
    margin-right: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */